configuration {
    modes: "window,drun,monitor,emoji";
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    icon-theme: "Papirus";
    display-window: "🗂️ Window";
    display-drun: "🚀 Application";
    display-monitor: "🖥️ Monitor setup";
    display-emoji: "😃 Emoji picker";
    kb-mode-next: "Super+Tab";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
