[Desktop Entry]
Name=Alacritty
Comment=GPU-accelerated terminal emulator
Exec=/home/weerawatw/bin/alacritty
Terminal=false
Type=Application
Icon=/home/weerawatw/.local/share/icons/alacritty.svg
Categories=System;TerminalEmulator;
