[Desktop Entry]
Name=Godot v4.4.1
GenericName=Light-weight Game Engine
Exec=prime-run Godot_v4.4.1
Icon=/home/weerawatw/.local/share/icons/Godot_icon.png
Terminal=false
Type=Application
Categories=GameEngine;
