[Desktop Entry]
Name=osu! Lazer
Comment=Best rhythm game ever
Exec=/home/weerawatw/bin/run-osu
Terminal=false
Type=Application
Icon=/home/weerawatw/.local/share/icons/osu!lazer.png
Categories=Game;
